.layout {
    background: radial-gradient(343.00px at 50% 0%, #FCFCFC 0%, #D6D6D6 100%);
    display: flex;
    position: relative;
    &--secondary {
        .layout__contain {
            padding: 20px 0 94px;
            align-items: stretch;
        }
    }
}

.layout__contain {
    display: flex;
    padding: 20px 0;
    width: 100%;
    align-items: baseline;
    @media only screen and(max-width: 1400px) {
        position: relative;
    }
}