.btn {
    display: inline-flex;
    align-items: center;
    font-weight: 700;
    color: #fff;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
    border: 1px solid #aaa;
    border-radius: 8px;
    background-color: #8ec800;
    background-image: linear-gradient(top,#8ec800,#5e9800);
    padding: 13px 20px;
    &.btn--large {
        width: 100%;
        display: flex;
    }

    &:hover,
    &:focus {
        border: 1px solid #aaa;
    }

    &:hover {
        background: none;
        background-color: rgba(0, 0, 0, 0);
        background-color: #8ec800;
    }
}

.btn__value {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    font-size: 18px;
    font-weight: 400;
}

.btn__text {
    font-size: 18px;
    text-shadow: 0 1px 0px rgba(0,0,0,0.4);
    span {
        font-weight: 400;
    }

    @media only screen and(max-width: 1400px) {
        font-size: 14px;
    }
}

.btn-list {
    margin-top: auto;
    padding-top: 15px;
}

.btn-list__item {
    &:not(:last-of-type) {
        margin-bottom: 15px;
    }
}


.reset-btn {
    width: 16px;
    height: 16px;
    flex: 0 0 auto;
    margin-left: 10px;
}

.aside__btn {
    padding: 3px 4px;
    display: block;
    font-size: 14px;
    color: #444;
    font-weight: 400;
    border: 1px solid #666;
    box-shadow: 0px 1px 0 rgba(255,255,255,0.3);
    border-radius: 8px;
    background-image: linear-gradient(#b5d37d, #6ea800);
    &:hover {
        color: #fff;
        border: 1px solid #666;
    }
}