.blank {
    max-width: 666px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    min-height: 470px;
}

.blank__item {
    padding: 0 15px;
    width: 54%;
    display: flex;
    flex-direction: column;
}

.blank__text {
    max-width: 260px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    .full--content {
        font-size: 14px;
        color: #777;
        a {
            color: #777;
            &:hover {
                color: #000;
            }
        }
    }
}