.header {
    padding-left: 48px;
}

.header__row {
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    position: relative;
    padding: 10px 20px;
}

.header__logo {
    max-width: 148px;
    overflow: visible;
}

.header__nav {
    max-width: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $bv-main-color;
    z-index: 4;
    min-height: 100%;
    margin-top: -56px;

    .header__logo {
        display: none;
    }

    .list__link-item {
        display: none;
    }

    .list__link-item + .arrow--icon {
        display: none;
    }
}

.root.header--active {
    .header {
        padding-left: 320px;

        @media only screen and (max-width: 1199px) {
            padding-left: 250px;
        }
    }

    .header__nav {
        max-width: 320px;
        width: 100%;
        flex: 0 0 auto;

        @media only screen and (max-width: 1199px) {
            max-width: 250px;
        }
    }

    .header__logo {
        display: block;
        width: 100%;
    }

    .list__link-item {
        display: block;
    }

    .list__link-item + .arrow--icon {
        display: block;
    }

}

.header__nav-top {
    display: flex;
    align-items: center;
    background-color: $bv-red-color;
    padding: 15px 0;
    flex: 0 0 auto;
    min-height: 56px;
}

.header__nav-middle {
    padding-bottom: 8px;
    background-color: $bv-main-color;
}

.header__nav-bottom {
    margin-top: auto;
    display: none;
    background-color: $bv-main-color;
}

.header--active .header__nav-bottom {
    display: flex;
}

.header__nav-items {
    display: flex;
    justify-content: space-between;
    background-color: $bv-green-color;
    flex: 1;
    font-size: 10px;
    padding: 9px 15px;
    height: 40px;
    align-items: center;
}

.header__nav-item {
    color: #fff;
    font-weight: 500;
}

.is--uppercase {
    text-transform: uppercase;
}
