.nav {
    overflow: hidden;
}
.nav .list {
    flex-direction: column;
    align-items: center;
}

.nav .list__link-item {
    line-height: 1.2;
}

.nav .list__item {
    padding: 0;
    width: 100%;
}

.nav .list__link {
    padding: 15px;
}

.nav .is--submenu {
    padding-right: 44px;
    position: relative;
    .arrow--icon {
        width: 15px;
        height: 15px;
        position: absolute;
        top: 50%;
        fill: #fff;
        right: 20px;
        transform: translateY(-50%) rotate(-90deg);
    }

    &.is--open {
        .arrow--icon {
            transform: translateY(-50%) rotate(0deg);
        }
    }
}


.list {
    display: flex;
    flex-wrap: wrap;
}

.list__item {
    padding: 10px;
}

.list__link {
    display: flex;
    align-items: center;
    &:hover {
        background-color: rgba(255,255,255,0.1);
    }

    &.is--active {
        position: relative;
        background-color: rgba(255,255,255,0.1);
        &:after {
            content: '';
            position: absolute;
            width: 2px;
            top: 0;
            left: 0;
            bottom: 0;
            background-color: $bv-red-color;
            border-radius: 2px 0px 0px 2px;
        }
    }
}

.root .is--open + .sub-menu {
    display: none;
}

.header--active .is--open + .sub-menu {
    display: block;
}

.list__link-item {
    color: #fff;
    margin-left: 15px;
}

.list__link-icon {
    fill: #fff;
    stroke-width: 1px;
    stroke: #fff;
}

.sub-menu {
    display: none;
}

.sub-menu__item {
    border-bottom: 1px solid #fff;
}

.sub-menu__link {
    font-size: 14px;
    color: #fff;
    display: block;
    padding: 10px 50px;
}

.list--secondary {
    flex-wrap: nowrap;
}

.list--secondary .list__item {
    padding: 0 12px;
}

.list--secondary .icon-parts {
    width: 18px;
    fill: #777;
    height: 18px;
    stroke: #777;
}
