.header__logo {
    display: block;
    padding: 0 20px;
}

.nav-logo {
    background-color: $bv-green-color;
    display: flex;
    align-items: center;
    height: 40px;
    margin-right: 6px;
    flex: 0 0 auto;
    padding: 0 15px;
    align-items: center;
}