input::-moz-placeholder,
textarea::-moz-placeholder {
	font-family: "Sanuk", $bv-helvetica;
	opacity: 1;
	color: $bv-main-color;
	font-size: 14px;
	font-weight: 400;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
	font-family: "Sanuk", $bv-helvetica;
	opacity: 1;
	color: $bv-main-color;
	font-size: 14px;
	font-weight: 400;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	font-family: "Sanuk", $bv-helvetica;
	opacity: 1;
	color: $bv-main-color;
	font-size: 14px;
	font-weight: 400;
} 

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	font-family: "Sanuk", $bv-helvetica;
	opacity: 1;
	color: $bv-main-color;
	font-size: 14px;
	font-weight: 400;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
	color: transparent;
	outline: none
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
	color: transparent;
	outline: none
}

input:focus:-moz-placeholder,
textarea:focus::-moz-placeholder {
	color: transparent;
	outline: none
}

input:focus:-ms-input-placeholder,
textarea:focus::-moz-placeholder {
	color: transparent;
	outline: none
}

* {
	line-height: normal;
	box-sizing: border-box;

	:invalid {
		box-shadow: none
	}

	:-moz-submit-invalid {
		box-shadow: none
	}

	:-moz-ui-invalid {
		box-shadow: none	
	}

	:focus {
		outline: none;
	}
}

.highlights {
	color: transparent
}

input,
textarea {
	width: 100%;
	outline: none;
	border-radius: 0;
	padding: 0;
	margin: 0;
	outline: 0;
	-webkit-border-radius: 0;
	-webkit-appearance: none;
	appearance: none;
}

input::-ms-clear {
    display: none;
}

textarea {
	resize: none;
}

input[type="radio"],
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: radio;
	margin: 0
}

input[type="submit"]::-moz-focus-inner {
	border: 0;
	outline: 0;
}

[contenteditable="true"]::-moz-focus-inner {
	border: 0;
	outline: 0;
}
	
input[type=number] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield
}

a:active, 
a:focus, 
a:hover {
	border: none;
	outline: none;
}

a {
	color: $bv-main-color;
	cursor: pointer;
	text-decoration: none;
}

strong,
b {
	font-weight: 700;
}

ul,
ol {
	padding-left: 0;
}

button, 
button:active, 
button:focus, 
button:hover,
input[type=submit] {
	outline: none;
	border: none;
	cursor: pointer
}

html, 
body {
	height: 100%;
	width: 100%;
}

html {
	-webkit-text-size-adjust: none;
	touch-action: manipulation;
}

header,
footer {
	flex: 0 0 auto;
}

main {
	flex: 1 0 auto;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	color: $bv-grey-color;
	position: relative;
	// background-image: url("../img/icons/arrow-point-to-down.svg");
	// background-size: 8px 6px;
	// background-repeat: no-repeat;
	// background-position: 100% center;
	// padding-right: 20px;
}

select::-ms-expand {
    display: none;
}

button {
	padding: 0;
	background: none;
}

body {
	font-family: "Sanuk", $bv-helvetica;
	font-size: 15px;
	font-weight: 400;
	min-width: 1024px;
	line-height: 1.42em;
	margin: 0;
	color: $bv-main-color;
	overflow: auto;
	background-color: #777;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

.root {
	display: flex;  
	flex-direction: column;
	min-width: 1024px;
	height: 100%;
	overflow: auto;
}

img {
	display: block;
	max-width: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.3;
}

h2 {
	font-size: 26px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 14px;
}

.full--content {
	font-size: 18px;
	color: #333;

	h2 {
		text-shadow: 0 1px 0px #fff;
	}

	h2,
	h6 {
		color: #8ec800;
	}

	h6 {
		margin-top: 15px;
		margin-bottom: 5px;
	}

	> * {
		margin-bottom: 8px;
	}

	h5 {
		color: #777;
	}

	a {
		color: #333;
		text-decoration: underline;
		&:hover {
			color: #777;
		}
	}
}