@font-face {
    font-family: "Sanuk";
    font-display: auto;
    src: url("../fonts/sanuk-regular.woff2"),
         url("../fonts/sanuk-regular.woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Sanuk";
    font-display: auto;
    src: url("../fonts/sanuk-medium.woff2"),
         url("../fonts/sanuk-medium.woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Sanuk";
    font-display: auto;
    src: url("../fonts/sanuk-bold.woff2"),
         url("../fonts/sanuk-bold.woff");
    font-weight: 700;
    font-style: normal;
}