.icon-parts {
    flex: 0 0 auto;
    width: 20px;
    height: 20px;
}

.icon__part {
    width: 100%;
    height: 100%;
    stroke-width: 1.5px;
}

.btn__icon {
    width: 24px;
    height: 24px;
    overflow: visible;
    margin-right: 15px;
    flex: 0 0 auto;
    &-part {
        fill: #fff;
        width: 100%;
        height: 100%;
    }

    @media only screen and(max-width: 1400px) {
        width: 15px;
    }
}

.svg--styles {
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    visibility: hidden;
}

.reset-icon {
    width: 16px;
    height: 16px;
    .reset-icon__part {
        width: 100%;
        height: 100%;
    }
}

.cart-icon {
    width: 18px;
    height: 20px;
    .cart-icon__part {
        width: 100%;
        height: 100%;
    }
}