.input-wrap {
    position: relative;
}

.input {
    width: 100%;
    font-family: "Sanuk", $bv-helvetica;
    font-weight: 400;
    border: 0;
    outline: 0;
    background-color: #fff;
    font-size: 16px;
    color: $bv-main-color;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search {
    opacity: 0;
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
}

.select {
    font-family: "Sanuk", $bv-helvetica;
    font-weight: 400;
    border: 0;
    outline: 0;
    background-color: #fff;
    font-size: 16px;
}
