.search {
    position: relative;
    .input {
        padding-right: 24px;
    }
}

.search-icon,
.btn-search  {
    width: 12px;
    height: 13px;
    cursor: pointer;
    position: absolute;
    right: 6px;
    top: 0;
}

.btn-search {
    opacity: 0;
}




.search-btn {
    display: block;
    width: 18px;
    height: 18px;
    margin-right: 15px;
    padding: 0;
    background: none;
    flex: 0 0 auto;
    .icon-parts {
        width: 18px;
        height: 18px;
    }
}

#search-btn {
    display: none;
    .icon__part:last-of-type {
        display: none;
        fill: #777;
    }
}